# My Custom Tools
context-export.toml
out.txt

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Pytest
.pytest_cache/

# Data
data/*
data/combined/regression/*
!data/combined/regression/
!data/combined/regression/maybe.example.csv
data/source/*
